* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-position: center;
}

.form-signin {
  max-width: 330px;
  padding: 20px;
  padding-top: 32px;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

#icon-2b {
  width: 40%;
}

@media(max-width: 450px) {
   .form-signin {
    padding-top: 20%;
   }
}