* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.form-signin {
  max-width: 330px;
  padding: 20px;
  padding-top: 32px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

#icon-2b {
  width: 40%;
}

@media(max-width: 450px) {
   .form-signin {
    padding-top: 25%;
   }
}