* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --hover-color: rgb(24, 139, 233);
    --hover-img-color: rgb(24, 56, 83);
}

body {
    background: #4a4a4a;
}

.side-bar {
    position: fixed;
    left: -250px;
    width: 240px;
    top: 0%;
    height: 100%;
    z-index: 1111;
    background-color: rgb(37, 37, 39);
    overflow-y: auto;
    transition: all .5s ease-in-out;
}

.side-bar ul a {
    display: block;
    width: 100%;
    line-height: 36px;
    font-size: 17px;
    color: whitesmoke;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: all .2s ease;
}

.parent li > a:hover {
    background-color: var(--hover-color);
}

.side-bar img:hover {
    background-color: var(--hover-img-color);
}

.side-bar small {
    position: absolute;
    bottom: 8%;
    left: 7%;
}

.creator {
    font-size: 11pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#year {
    bottom: 4%;
    left: 37%;
    font-style: italic;
}

#check-box {
    display: none;
}

label #navBarOp {
    background-color: rgb(37, 37, 39);
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 1.6%;
    font-size: 25px;
    color: whitesmoke;
    padding: 6px 12px;
    transition: all .6s ease;
}

#check-box:checked~.side-bar {
    left: 0;
}

#check-box:checked~label #navBarOp {
    margin-left: 250px;
    position: fixed;
}

.infos {
    margin: auto;
    width: 50%;
}

#superior-bar {
    background-color: rgb(37, 37, 39);
    width: 100%;
    height: 10%;
}

@media (max-width: 700px) {
    .col2 {
        padding-top: 15px;
    }
    .infos {
       width: 85%;
    }
}

#superior-bar ul {
    display: flex;
    justify-content: end;
    padding-right: 0.1%;
}

#superior-bar ul li i {
    color: #FFF;
    padding: 17px;
    display: inline-flex;
    text-decoration: none;
    cursor: auto;
}

#ic-2b {
    width: 36%;
    cursor: pointer
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 6px 6px;
}