{% extends 'login.html' %}

{% block title %} Login Admin | Sistema {% endblock %}

{% block body %}
<body>
    <main class="form-signin text-center mx-auto">
        <h3 class="text-white">Sistema de Monitoria</h3>
        <h6 class="text-white">Entre como admin</h6>
        <img id="icon-2b" class="img-fluid mx-auto d-block mb-3" loading="lazy" src="/Sistema Monitoria/assets/img/infortec2b-icon.png">
    
        <form method="POST" action="/Sistema Monitoria/admin/verify">
            <div class="form-floating">
                <input required class="form-control" id="field1" type="text" name="user" maxlength="30"
                    placeholder="Usuário">
                <label for="field1">Usuário</label>
            </div>
            <div class="form-floating mb-3">
                <input required class="form-control" type="password" name="pass" id="pass" maxlength="17"
                    placeholder="Senha">
                <label for="pass">Senha</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                <i class="fas fa-sign-in-alt"></i>
                Entrar
            </button>
        </form><br>
        <a href="/Sistema Monitoria/login">Voltar</a>

        {% if error != null %}
        <div id="dialog" title="Permissão negada">
            <p>{{error['msg']}}</p>
          </div> 
        {% endif %}
    </main>
</body>
{% endblock %}