{% extends 'login.html' %}

{% block title %} Login Admin | Sistema {% endblock %}

{% block body %}
<body class="login">
    <div class="login-container">
        <div class="card card-outline card-primary">
            <div class="card-header text-center bg-white">
                <h2 class="system">Sistema de Monitoria <b>EEEPJAS</b></h2>
            </div>
            <div class="card-body">
                <p class="login-msg text-center">Entre como <b>administrador</b></p>

                <form method="POST" action="admin/verify">
                    <div class="input-group mb-3">
                        <input required placeholder="Usuário" class="form-control" type="text"
                            maxlength="30" name="user">
                        <div class="input-append">
                            <div class="input-group-text">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required class="form-control" maxlength="17" type="password" name="pass"
                            placeholder="Senha">
                        <div class="input-append">
                            <div class="input-group-text">
                                <i class="fas fa-lock"></i>
                            </div>
                        </div>
                    </div>
                    <a href="/Sistema Monitoria/">Voltar</a>
                    <button type="submit" class="btn btn-primary float-end">
                        <i class="fas fa-sign-in-alt"></i>
                        Entrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% if error %}
    <script>
        showCustomAlert("Permissão negada!", "error", `{{error['msg']}}`);
    </script>
    {% endif %}
</body>
{% endblock %}