<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mudar senha</title>
    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- My Custom CSS and JS file -->
    <link rel="stylesheet" href="/Sistema Monitoria/assets/styles/styles.css">
    <script src="/Sistema Monitoria/assets/js/frames.js"></script>
    <script src="/Sistema Monitoria/assets/js/my-algorithm-rotation.js"></script>

    <link rel="icon" href="/Sistema Monitoria/assets/img/infortec2b-icon.png">

    <!-- Font Awesome LIB -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js"
        integrity="sha512-j3gF1rYV2kvAKJ0Jo5CdgLgSYS7QYmBVVUjduXdoeBkc4NFV4aSRTi+Rodkiy9ht7ZYEwF+s09S43Z1Y+ujUkA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="sb-nav-fixed">
    {% include 'template-menu.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <form class="formPChange text-center" method="POST" action="senha/reset">
                    {% if error %}
                    <div class="row">
                        <div
                            class="alert alert-success alert-dismissible fade show text-white col-md-4 col-md-offset-4 mx-auto mt-4 bg-danger bg-gradient">
                            {{error['msg']}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    </div>
                    {% endif %}

                    {% if isReseted %}
                    <div class="row">
                        <div
                            class="alert alert-success alert-dismissible fade show col-md-4 col-md-offset-4 mx-auto mt-4 bg-success text-white bg-gradient mt-4">
                            {{isReseted['msg']}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group mt-5">
                        <label for="atual">
                            Sua senha atual: <br>
                            <input required class="form-control" type="password" name="atualPass" id="atual"
                                maxlength="17">
                        </label><br><br>
                        <label for="newPass1">
                            Informe sua nova senha: <br>
                            <input required class="form-control" type="password" name="newPass1" id="newPass1"
                                maxlength="17">
                        </label><br><br>
                        <label for="newPass2">
                            Confirme sua nova senha: <br>
                            <input required class="form-control" type="password" name="newPass2" id="newPass2"
                                maxlength="17">
                        </label><br><br>
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-floppy-disk"></i>
                            Salvar
                        </button>
                    </div>
                </form>
        </main>

        <div id="modalSpin" class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Salvando senha...</h4>
                    </div>
                    <div class="modal-body mx-auto d-block">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Criado por &copy; <strong>
                            <a class="text-decoration-none" target="_blank"
                                href="https://www.instagram.com/ruanchristian7/">Ruan Christian</a>
                        </strong>
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
</body>
<script>
    $(".formPChange").submit(() => {
        $(".modal").modal("show");
        setTimeout(function () {
            console.log("...");
        }, 1000);
    });
</script>