<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAINEL ADMIN</title>
    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- My Custom CSS and JS file -->
    <link rel="stylesheet" href="/Sistema Monitoria/assets/styles/styles.css">
    <script src="/Sistema Monitoria/assets/js/frames.js"></script>
    <script src="/Sistema Monitoria/assets/js/ajax.js"></script>

    <link rel="icon" href="/Sistema Monitoria/assets/img/infortec2b-icon.png">

    <!-- Font Awesome LIB -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js"
        integrity="sha512-j3gF1rYV2kvAKJ0Jo5CdgLgSYS7QYmBVVUjduXdoeBkc4NFV4aSRTi+Rodkiy9ht7ZYEwF+s09S43Z1Y+ujUkA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="sb-nav-fixed">
    {% include 'template-menu.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row mb-3 mt-3 mx-auto">
                    <div class="col mb-3">
                        <h5 class="text-center text-decoration-underline">Criar administrador</h5>
                        <form method="POST" action="/Sistema Monitoria/admin/createAccess">
                            <div class="mb-3">
                                <label for="username" class="form-label">Usuário:</label>
                                <input required placeholder="Informe o username..." type="text" class="form-control"
                                    name="username" id="username">
                            </div>
                            <div class="mb-3">
                                <label for="pass" class="form-label">Senha:</label>
                                <input required placeholder="Informe a senha..." type="password" class="form-control"
                                    name="pass" id="pass">
                            </div>
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </form>
                    </div>
                    <div class="col-md mb-3">
                        <h5 class="text-center text-decoration-underline">Administradores</h5>
                        <table class="table table-bordered table-primary mt-3">
                            <thead>
                                <th>ID</th>
                                <th>Usuário</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </thead>
                            <tbody>
                                {% if admins %}
                                {% for adm in admins %}

                                <tr>
                                    <th>{{adm['id']}}</th>
                                    <td>{{adm['usuario']}}</td>
                                    <td><button onclick="displayModalAdmin(`{{adm['usuario']}}`, this.id);"
                                            id="{{adm['id']}}" value="edit" data-bs-toggle="modal"
                                            data-bs-target="#edit-admin" title="Editar/alterar usuário"
                                            class="btn btn-primary">
                                            <i class="fas fa-user-pen"></i>
                                        </button>
                                    </td>
                                    <td><button onclick="deleteAdmin(this.id);" id="{{adm['id']}}"
                                            title="Excluir usuário" class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3 mx-auto">
                    <hr>
                    <div class="col mb-3">
                        <h5 class="text-center">Cadastrar novos alunos</h5>
                        <form method="POST" action="cadastro/visualizar" enctype="multipart/form-data">
                            <div class="form-group">
                                <input accept="application/pdf" type="file" class="form-control" name="pdfalunos"
                                    id="file-input" required>
                                <div class="form-text">
                                    <ul>
                                        <li>Insira aqui o PDF dos alunos (por turma)</li>
                                        <li>O nome do arquivo PDF deverá conter o nome da turma (EX: 3º B -
                                            Informática.pdf)</li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary mt-3" type="submit">Ver relação</button>
                        </form>
                    </div>
                    <div class="col-md mb-3">
                        <h5 class="text-center">Cadastrar monitores</h5>
                        {% if alunos['list'] %}
                        <label for="datalist" class="form-label">Selecione a matrícula do aluno a ser
                            monitor:</label>
                        <form method="POST" action="admin/createManager">
                            <input required name="aluno-mat" class="form-select" list="alunos-list" id="datalist"
                                placeholder="Buscar aluno...">
                            <datalist id="alunos-list">
                                {% for aluno in alunos['list'] %}
                                <option value="{{aluno['matricula']}}">
                                    {{aluno['nome']}} - {{aluno['turma']}}
                                </option>
                                {% endfor %}
                            </datalist>
                            <div class="form-text mt-2">
                                <span>A senha por padrão será: 1234</span>
                            </div>
                            <button class="btn btn-primary float-end mt-2" type="submit">Criar</button>
                        </form>
                        {% else %}
                        <span class="text-danger">Não existem alunos cadastrados!</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-3 text-center">
                    <hr>
                    <h4 class="text-decoration-underline">Configurações especiais</h4>
                    <div class="col mb-3">
                        <a href="/Sistema Monitoria/admin/deleteOf/alunos">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar Alunos
                            </button>
                        </a>
                    </div> 
                    <div class="col-md mb-3">
                        <a href="/Sistema Monitoria/admin/deleteOf/monitores">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar Monitores
                            </button>
                        </a>
                    </div>
                    <div class="col-md mb-3">
                        <a href="/Sistema Monitoria/admin/deleteOf/observacoes/ocorrencias">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar ocorrências/obs
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </main>

    <!-- Modal de edição -->
    <div class="modal fade" id="edit-admin" data-bs-backdrop="static" aria-labelledby="edit-admin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="titulo">Editar usuário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/Sistema Monitoria/admin/edit">
                        <div class="mb-3">
                            <label for="admin-usr" class="col-form-label">Usuário:</label>
                            <input required placeholder="Informe um novo username..." type="text" name="user"
                                class="form-control" id="admin-usr">
                        </div>
                        <div class="mb-3">
                            <label for="admin-pass" class="col-form-label">Senha:</label>
                            <input required placeholder="Informe uma nova senha..." type="password" name="pass"
                                class="form-control" id="admin-pass"></input>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="btn" name="button" type="submit" class="btn btn-primary">Alterar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {% if success_access %}
    <script>
        "use strict";

        function _classPrivateMethodInitSpec(t, e) {
            _checkPrivateRedeclaration(t, e), e.add(t)
        }

        function _defineProperty(t, e, s) {
            return e in t ? Object.defineProperty(t, e, {
                value: s,
                enumerable: !0,
                configurable: !0,
                writable: !0
            }) : t[e] = s, t
        }

        function _classPrivateMethodGet(t, e, s) {
            if (!e.has(t)) throw new TypeError("attempted to get private field on non-instance");
            return s
        }

        function _classPrivateFieldInitSpec(t, e, s) {
            _checkPrivateRedeclaration(t, e), e.set(t, s)
        }

        function _checkPrivateRedeclaration(t, e) {
            if (e.has(t)) throw new TypeError("Cannot initialize the same private elements twice on an object")
        }

        function _classPrivateFieldSet(t, e, s) {
            return _classApplyDescriptorSet(t, _classExtractFieldDescriptor(t, e, "set"), s), s
        }

        function _classApplyDescriptorSet(t, e, s) {
            if (e.set) e.set.call(t, s);
            else {
                if (!e.writable) throw new TypeError("attempted to set read only private field");
                e.value = s
            }
        }

        function _classPrivateFieldGet(t, e) {
            return _classApplyDescriptorGet(t, _classExtractFieldDescriptor(t, e, "get"))
        }

        function _classExtractFieldDescriptor(t, e, s) {
            if (!e.has(t)) throw new TypeError("attempted to " + s + " private field on non-instance");
            return e.get(t)
        }

        function _classApplyDescriptorGet(t, e) {
            return e.get ? e.get.call(t) : e.value
        }
        var _count = new WeakMap;
        class Modal {
            constructor() {
                _classPrivateFieldInitSpec(this, _count, {
                    writable: !0,
                    value: 0
                })
            }
            show({
                type: t,
                title: e = "",
                content: s = "",
                buttons: a = [],
                centered: o = !1,
                dismissible: i = !0,
                backdrop: n = !!i || "static",
                keyboard: r = i,
                focus: l = !0,
                fullscreen: d = !1,
                size: c = ""
            }) {
                _classPrivateFieldSet(this, _count, 1 + +_classPrivateFieldGet(this, _count)), c = ["sm", "lg",
                        "xl"
                    ].includes(c) ? `modal-${c}` : "", d = d ? "modal-fullscreen" : "", o = o ?
                    "modal-dialog-centered modal-dialog-scrollable" : "";
                const b = Bs5Utils.defaults.styles[t],
                    u = b.btnClose.join(" "),
                    m = b.border,
                    h = document.createElement("div");
                h.setAttribute("id", `modal-${_classPrivateFieldGet(this,_count)}`), h.setAttribute("tabindex",
                    "-1"), h.classList.add("modal");
                let p = "",
                    v = [];
                Array.isArray(a) && a.length && (p += `<div class="modal-footer ${m.join(" ")}">`, a.forEach((t,
                        e) => {
                        switch (t.type || "button") {
                            case "dismiss":
                                p +=
                                    `<button type="button" class="${t.class}" data-bs-dismiss="modal">${t.text}</button>`;
                                break;
                            default:
                                let s = `modal-${_classPrivateFieldGet(this,_count)}-button-${e}`;
                                p += `<button type="button" id="${s}" class="${t.class}">${t.text}</button>`,
                                    t.hasOwnProperty("handler") && "function" == typeof t.handler && v
                                    .push({
                                        id: s,
                                        handler: t.handler
                                    })
                        }
                    }), p += "</div>"), h.innerHTML =
                    ` <div class="modal-dialog ${o} ${d} ${c}">\n                                <div class="modal-content border-0">\n                                  ${e.length?`<div class="modal-header border-0 ${b.main.join(" ")}">\n                                    <h5 class="modal-title">${e}</h5>\n                                    ${i?`<button type="button" class="btn-close ${u}" data-bs-dismiss="modal" aria-label="Close"></button>`:""}\n                                  </div>`:""}\n                                  ${s.length?`<div class="modal-body">${s}</div>`:""}\n                                  ${p}\n                                </div>\n                              </div>`,
                    document.body.appendChild(h), h.addEventListener("hidden.bs.modal", function (t) {
                        t.target.remove()
                    }), v.forEach(t => {
                        document.getElementById(t.id).addEventListener("click", t.handler)
                    });
                const f = {
                        backdrop: n,
                        keyboard: r,
                        focus: l
                    },
                    y = new bootstrap.Modal(h, f);
                return y.show(), y
            }
        }
        var _count2 = new WeakMap;
        class Snack {
            constructor() {
                _classPrivateFieldInitSpec(this, _count2, {
                    writable: !0,
                    value: 0
                })
            }
            show(t, e, s = 0, a = !0) {
                _classPrivateFieldSet(this, _count2, 1 + +_classPrivateFieldGet(this, _count2));
                const o = Bs5Utils.defaults.styles[t],
                    i = o.btnClose.join(" "),
                    n = document.createElement("div");
                n.classList.add("toast", "align-items-center", "border-1", "border-dark"), o.main.forEach(t => {
                        n.classList.add(t)
                    }), n.setAttribute("id", `snack-${_classPrivateFieldGet(this,_count2)}`), n.setAttribute(
                        "role", "alert"), n.setAttribute("aria-live", "assertive"), n.setAttribute(
                        "aria-atomic", "true"), n.innerHTML =
                    `<div class="d-flex">\n                        <div class="toast-body">${e}</div>\n                        ${a?`<button type="button" class="btn-close ${i} me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>`:""}\n                      </div>`,
                    Bs5Utils.defaults.toasts.stacking || document.querySelectorAll(
                        `#${Bs5Utils.defaults.toasts.container} .toast`).forEach(t => {
                        t.remove()
                    }), document.querySelector(`#${Bs5Utils.defaults.toasts.container}`).appendChild(n), n
                    .addEventListener("hidden.bs.toast", function (t) {
                        t.target.remove()
                    });
                const r = {
                    autohide: s > 0 && "number" == typeof s
                };
                s > 0 && "number" == typeof s && (r.delay = s);
                const l = new bootstrap.Toast(n, r);
                return l.show(), l
            }
        }
        var _count3 = new WeakMap;
        class Toast {
            constructor() {
                _classPrivateFieldInitSpec(this, _count3, {
                    writable: !0,
                    value: 0
                })
            }
            show({
                type: t,
                icon: e = "",
                title: s,
                subtitle: a = "",
                content: o = "",
                buttons: i = [],
                delay: n = 0,
                dismissible: r = !0
            }) {
                _classPrivateFieldSet(this, _count3, 1 + +_classPrivateFieldGet(this, _count3));
                const l = Bs5Utils.defaults.styles[t],
                    d = l.btnClose.join(" "),
                    c = l.border,
                    b = document.createElement("div");
                b.setAttribute("id", `toast-${_classPrivateFieldGet(this,_count3)}`), b.setAttribute("role",
                    "alert"), b.setAttribute("aria-live", "assertive"), b.setAttribute("aria-atomic",
                    "true"), b.classList.add("toast", "align-items-center"), c.forEach(t => {
                    b.classList.add(t)
                });
                let u = "",
                    m = [];
                Array.isArray(i) && i.length && (u +=
                        `<div class="d-flex justify-content-center mt-2 pt-2 border-top ${c.join(" ")}">`, i
                        .forEach((t, e) => {
                            switch (t.type || "button") {
                                case "dismiss":
                                    u +=
                                        `<button type="button" class="${t.class}" data-bs-dismiss="toast">${t.text}</button>&nbsp;`;
                                    break;
                                default:
                                    let s = `toast-${_classPrivateFieldGet(this,_count3)}-button-${e}`;
                                    u += `<button type="button" id="${s}" class="${t.class}">${t.text}</button>&nbsp;`,
                                        t.hasOwnProperty("handler") && "function" == typeof t.handler && m
                                        .push({
                                            id: s,
                                            handler: t.handler
                                        })
                            }
                        }), u += "</div>"), b.innerHTML =
                    `<div class="toast-header ${l.main.join(" ")}">\n                            ${e}\n                            <strong class="me-auto">${s}</strong>\n                            <small>${a}</small>\n                            ${r?`<button type="button" class="btn-close ${d}" data-bs-dismiss="toast" aria-label="Close"></button>`:""}\n                        </div>\n                        <div class="toast-body">\n                            ${o}\n                            ${u}\n                        </div>`,
                    Bs5Utils.defaults.toasts.stacking || document.querySelectorAll(
                        `#${Bs5Utils.defaults.toasts.container} .toast`).forEach(t => {
                        t.remove()
                    }), document.querySelector(`#${Bs5Utils.defaults.toasts.container}`).appendChild(b), b
                    .addEventListener("hidden.bs.toast", function (t) {
                        t.target.remove()
                    }), m.forEach(t => {
                        document.getElementById(t.id).addEventListener("click", t.handler)
                    });
                const h = {
                    autohide: n > 0 && "number" == typeof n
                };
                n > 0 && "number" == typeof n && (h.delay = n);
                const p = new bootstrap.Toast(b, h);
                return p.show(), p
            }
        }
        var _createToastContainer = new WeakSet;
        class Bs5Utils {
            constructor() {
                _classPrivateMethodInitSpec(this, _createToastContainer), _classPrivateMethodGet(this,
                        _createToastContainer, _createToastContainer2).call(this), this.Toast = new Toast, this
                    .Snack = new Snack, this.Modal = new Modal
            }
            static registerStyle(t, e) {
                if ("object" != typeof e && Array.isArray(e))
                    throw "The styles parameter must be an object when you register component style.";
                Bs5Utils.defaults.styles[t] = e
            }
        }

        function _createToastContainer2() {
            let t = document.querySelector(`#${Bs5Utils.defaults.toasts.container}`);
            if (!t) {
                const e = {
                    "top-left": "top-0 start-0 ms-1 mt-1",
                    "top-center": "top-0 start-50 translate-middle-x mt-1",
                    "top-right": "top-0 end-0 me-1 mt-1",
                    "middle-left": "top-50 start-0 translate-middle-y ms-1",
                    "middle-center": "top-50 start-50 translate-middle p-3",
                    "middle-right": "top-50 end-0 translate-middle-y me-1",
                    "bottom-left": "bottom-0 start-0 ms-1 mb-1",
                    "bottom-center": "bottom-0 start-50 translate-middle-x mb-1",
                    "bottom-right": "bottom-0 end-0 me-1 mb-1"
                };
                (t = document.createElement("div")).classList.add("position-relative"), t.setAttribute("aria-live",
                        "polite"), t.setAttribute("aria-atomic", "true"), t.innerHTML =
                    `<div id="${Bs5Utils.defaults.toasts.container}" class="toast-container position-fixed pb-1 ${e[Bs5Utils.defaults.toasts.position]||e["top-right"]}"></div>`,
                    document.body.appendChild(t)
            }
        }
        _defineProperty(Bs5Utils, "defaults", {
            toasts: {
                position: "top-right",
                container: "toast-container",
                stacking: !0
            },
            styles: {
                success: {
                    btnClose: ["btn-close-white"],
                    main: ["text-white", "bg-success"],
                    border: ["border-success"]
                },
            }
        });

        const bs5Utils = new Bs5Utils();
        bs5Utils.Snack.show('success', "{{success_access['msg']}}", 0, true);
    </script>
    {% endif %}

    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Criado por &copy; <strong>
                        <a class="text-decoration-none" target="_blank"
                            href="https://www.instagram.com/ruanchristian7/">Ruan Christian</a>
                    </strong>
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>