<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAINEL ADMIN</title>
    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!-- My Custom CSS and JS file -->
    <link rel="stylesheet" href="assets/styles/styles.css">
    <script src="assets/js/frames.js"></script>
    <script src="assets/js/ajax.js"></script>
    <script src="assets/js/sweetalert.js"></script>

    <link rel="icon" href="assets/img/infortec2b-icon.png">

    <!-- Font Awesome LIB -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js"
        integrity="sha512-j3gF1rYV2kvAKJ0Jo5CdgLgSYS7QYmBVVUjduXdoeBkc4NFV4aSRTi+Rodkiy9ht7ZYEwF+s09S43Z1Y+ujUkA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="sb-nav-fixed">
    {% include 'template-menu.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row mb-3 mt-3 mx-auto">
                    <div class="col mb-3">
                        <h5 class="text-center text-decoration-underline">Criar administrador</h5>
                        <form method="POST" action="/Sistema Monitoria/admin/createAccess">
                            <div class="mb-3">
                                <label for="username" class="form-label">Usuário:</label>
                                <input required placeholder="Informe o username..." type="text" class="form-control"
                                    name="username" id="username">
                            </div>
                            <div class="mb-3">
                                <label for="pass" class="form-label">Senha:</label>
                                <input required placeholder="Informe a senha..." type="password" class="form-control"
                                    name="pass" id="pass">
                            </div>
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </form>
                    </div>
                    <div class="col-md mb-3">
                        <h5 class="text-center text-decoration-underline">Administradores</h5>
                        <table class="table table-bordered table-primary mt-3">
                            <thead>
                                <th>ID</th>
                                <th>Usuário</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </thead>
                            <tbody>
                                {% if admins %}
                                {% for adm in admins %}

                                <tr>
                                    <th>{{adm['id']}}</th>
                                    <td>{{adm['usuario']}}</td>
                                    <td><button onclick="displayModalAdmin(`{{adm['usuario']}}`, this.id);"
                                            id="{{adm['id']}}" value="edit" data-bs-toggle="modal"
                                            data-bs-target="#edit-admin" title="Editar/alterar usuário"
                                            class="btn btn-primary">
                                            <i class="fas fa-user-pen"></i>
                                        </button>
                                    </td>
                                    <td><button onclick="deleteAdmin(this.id);" id="{{adm['id']}}"
                                            title="Excluir usuário" class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3 mx-auto">
                    <hr>
                    <div class="col mb-4">
                        <h5 class="text-center">Turmas</h5>
                        {% if turmas %}

                        <table class="table table-bordered table-primary mt-3">
                            <thead>
                                <th>Nome</th>
                                <th>Período</th>
                            </thead>
                            <tbody>
                                {% for turma in turmas %}

                               <tr> 
                                <td>{{turma['nome']}}</td>
                                <th>{{turma['periodo']}}</th>
                            </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <small class="text-muted mb-3">OBS: essas turmas são apenas do atual período letivo.</small>

                        {% else %}

                        <span class="text-danger">Não existem turmas cadastradas nesse período letivo</span>

                        {% endif %}
                    </div>
                    <div class="col-md mb-4">
                        <h5 class="text-center">Cadastrar novos alunos</h5>
                        <form method="POST" action="cadastro/visualizar" enctype="multipart/form-data">
                            <div class="form-group">
                                <input accept="application/pdf" type="file" class="form-control" name="pdfalunos"
                                    id="file-input" required>
                                <div class="form-text">
                                    <ul>
                                        <li>Insira aqui o PDF dos alunos (por turma)</li>
                                        <li>O nome do arquivo PDF deverá conter o nome da turma <br> (EX: 3º B -
                                            Informática.pdf)</li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-primary mt-3" type="submit">Ver relação</button>
                        </form>
                    </div>
                    <div class="col-md mb-4">
                        <h5 class="text-center">Cadastrar monitores</h5>
                        {% if alunos['list'] %}
                        <label for="datalist" class="form-label">Selecione a matrícula do aluno a ser
                            monitor:</label>
                        <form method="POST" action="admin/createManager">
                            <input autocomplete="off" required name="aluno-mat" class="form-select" list="alunos-list" id="datalist"
                                placeholder="Buscar aluno...">
                            <datalist id="alunos-list">
                                {% for aluno in alunos['list'] %}
                                <option value="{{aluno['matricula']}}">
                                    {{aluno['nome']}} - {{aluno['turma']}}
                                </option>
                                {% endfor %}
                            </datalist>
                            <div class="form-text mt-2">
                                <span>A senha por padrão será: 1234</span>
                            </div>
                            <button class="btn btn-primary float-end mt-2" type="submit">Criar</button>
                        </form>
                        {% else %}
                        <span class="t">Não existem alunos cadastrados!</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-3 text-center">
                    <hr>
                    <h4 class="text-decoration-underline">Configurações especiais</h4>
                    <div class="col mt-2 mb-3">
                        <a href="admin/deleteOf/alunos">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar todos os alunos
                            </button>
                        </a>
                    </div> 
                    <div class="col-md mt-2 mb-3">
                        <a href="admin/deleteOf/monitores">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar todos os monitores
                            </button>
                        </a>
                    </div>
                    <div class="col-md mt-2 mb-3">
                        <a href="admin/deleteOf/observacoes/ocorrencias">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar ocorrências/obs
                            </button>
                        </a>
                    </div>
                    <div class="col-md mt-2 mb-3">
                        <a href="admin/deleteOf/faltas">
                            <button class="btn btn-danger bg-gradient">
                                <i class="fas fa-trash"></i>
                                Deletar todas as faltas
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </main>

    <!-- Modal de edição -->
    <div class="modal fade" id="edit-admin" data-bs-backdrop="static" aria-labelledby="edit-admin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="titulo">Editar usuário</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/Sistema Monitoria/admin/edit">
                        <div class="mb-3">
                            <label for="admin-usr" class="col-form-label">Usuário:</label>
                            <input required placeholder="Informe um novo username..." type="text" name="user"
                                class="form-control" id="admin-usr">
                        </div>
                        <div class="mb-3">
                            <label for="admin-pass" class="col-form-label">Senha:</label>
                            <input required placeholder="Informe uma nova senha..." type="password" name="pass"
                                class="form-control" id="admin-pass"></input>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button id="btn" name="button" type="submit" class="btn btn-primary">Alterar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {% if success_access %}
    <script>
        showCustomAlert("Sucesso", "success", `{{success_access['msg']}}`);
    </script>
    {% endif %}

    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Criado por &copy; <strong>
                        <a class="text-decoration-none" target="_blank"
                            href="https://www.instagram.com/ruanchristian7/">Ruan Christian</a>
                    </strong>
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>