<div id="superior-bar">
    <ul>
        <li class="list-group-item">
            <i>
                Bem vindo(a):
            </i>
            <i>
                {{nome|upper}}
            </i>
        </li>

    </ul>
</div>

<input id="check-box" type="checkbox">
<label for="check-box">
    <i class="fas fa-bars" id="navBarOp"></i>
</label>

<div class="side-bar">
    <img id="ic-2b" class="mx-auto d-block" src="/Sistema Monitoria/assets/img/infortec2b-icon.png" onclick="openIng()">
    <div class="parent">
        <ul>
            <li><a href="home"><i class="fas fa-house"></i> Home </a></li>
            <li><a href="frequencia"><i class="fas fa-check"></i> Registrar frequência </a></li>
            <li class="text-white list-group-item"><a href="#drop-down" data-bs-toggle="collapse"
                    class="dropdown-toggle"><i class="fas fa-eye"></i> Consultar </a>
                <ul class="collapse list-unstyled ms-3" id="drop-down">
                    <li class="list-group-item"><a href="#"><i class="fas fa-calendar-check"></i> Frequencias </a></li>
                    <li class="list-group-item"><a href="#"> Ocorrências </a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fas fa-message"></i> Deixar observações </a></li>
            <li><a href="senha"><i class="fas fa-key"></i> Alterar senha </a></li>
            <li><a href="#"><i class="fas fa-users"></i> Alunos </a></li>
            <li><a href="/Sistema Monitoria/login/logout"><i class="fas fa-right-from-bracket"></i> Sair </a></li>
        </ul>
    </div>
    <small class="text-break text-white">Created by <a class="creator text-decoration-none text-white" target="_blank"
            href="https://www.instagram.com/ruanchristian7/">Ruan Christian</a> - 2º B</small>
    <small class="text-white" id="year">
        <script>
            document.write(new Date().getFullYear());
        </script>
    </small>
</div>