<input checked id="check-box" type="checkbox">
    <label for="check-box">
        <i class="fas fa-bars" id="navBarOp"></i>
    </label>

    <div class="side-bar">
        <img id="ic-2b" class="mx-auto d-block" src="/Sistema Monitoria/img/infortec2b-icon.png" onclick="openIng()">
        <ul>
            <li><a href="home"><i class="fas fa-house"></i> Home </a></li>
            <li><a href="frequencia"><i class="fas fa-check"></i> Registrar frequência </a></li>
            <li><a href="frequency-act"><i class="fas fa-eye"></i> Consultar frequências </a></li>
            <li><a href="#"><i class="fas fa-message"></i> Deixar observações </a></li>
            <li><a href="changes"><i class="fas fa-key"></i> Alterar senha </a></li>
            <li><a href="student-list"><i class="fas fa-users"></i> Alunos </a></li>
            <li><a href="/Sistema Monitoria/logout"><i class="fas fa-right-from-bracket"></i> Sair </a></li>
        </ul>
        <small class="font-weight-bold text-break text-white">Powered by Ruan Christian - 2º B</small>
        <small class="font-weight-bold text-white" id="year">
            <script>
                document.write(new Date().getFullYear());
            </script>
        </small>
    </div>